
h2 {
    margin-top:15px;
}

.setlist {
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
}

.setlist_span {
    color: #343437;
    padding-left: 30%;
    font-family: Arial;
    font-size: 15pt;
    font-weight: bold;
}

.row_over {
    background: #ebccd1;
}

.main_form {
    margin: 10% 15% 10% 15%;
    background-color: #E9E9E9;
    border: solid 1px black;
    border-radius: 3px;
}

.liczba {
    width: 70px;
    height: 70px;
    float: left;
}

.numbers_picker {
    position: relative;
    padding-top: 10px;
}

.liczba_result {
    width: 35px;
    height: 35px;
}